﻿@model NAS_ARR.Models.SchoolRequestOrderViewModels
<div class="modal-header">
    <button id="btnClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Item Details - @Model.Request_Code</h4>(@Model.I_Status)
</div>
<div class="modal-body">
    @using (Ajax.BeginForm("UpdateSchoolStatus", "RequestOrder", FormMethod.Post,
            new AjaxOptions() { LoadingElementId = "myLoadingElement", OnComplete = "Unloading", OnFailure = "Unloading" },
            new { id = "formUpdateStatus", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {   <!-- /.box-header -->
        <div class="box-body">
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.Item_ID)
            @Html.HiddenFor(model => model.TS)
            @Html.HiddenFor(model => model.I_Status)
            

            <div class="form-group">
                <label for="I_Status" class="col-sm-2 control-label">Update Status :</label>
                <div class="col-sm-6">
                    @Html.DropDownList("Status_Code", (IEnumerable<SelectListItem>)ViewBag.EditStatusList, new { @class = "form-control-sm form-control" })
                    @*@Html.DropDownList("I_Status", new SelectList(Model.EditStatusList, "Code", "Description"), new { @class = "form-control" })*@
                </div>
                <div class="col-sm-4">
                    <input id="btnUpdateStatus" name="btnUpdateStatus" type="submit" value="Save" class="btn btn-primary btn-flat" />
                    <input id="btnCancel" name="btnCancel" type="submit" value="Close Request" class="btn btn-primary btn-flat" />
                </div>
                @*<div class="col-sm-4">
                    <input id="btnUpdateStaus" type="submit" value="Save" class="btn btn-primary btn-flat btn-sm" />
                </div>*@
            </div>
            <div class="form-group">
                <label for="ModifiedByUser" class="col-sm-2 control-label">Handle By :</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.ModifiedByUser, new { @class = "form-control", @readonly = "true" })
                </div>
            </div>
            <div class="form-group">
                <label for="Unit_Rate" class="col-sm-2 control-label">Item Cost :</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.NetAmount, new { @class = "form-control", @readonly = "true" })
                </div>
            </div>
            <div class="form-group">
                <label for="PaymentStatus" class="col-sm-2 control-label">Payment Satus :</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.PaymentStatus, new { @class = "form-control", @readonly = "true" })
                </div>
            </div>
        </div>

        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Items Details</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="">
                <div class="form-group">
                    <label for="I_Status" class="col-sm-2 control-label">Item # : </label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.Item, new { @class = "form-control", @readonly = "true" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="I_Status" class="col-sm-2 control-label">Name of School :</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.S_NameOfSchool, new { @class = "form-control", @readonly = "true" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="I_Status" class="col-sm-2 control-label">From Year :</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.S_From_Year, new { @class = "form-control", @readonly = "true" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="I_Status" class="col-sm-2 control-label">To Year :</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.S_To_Year, new { @class = "form-control", @readonly = "true" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="I_Status" class="col-sm-2 control-label">Remark :</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.Remark, new { @class = "form-control", @readonly = "true" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="I_Status" class="col-sm-2 control-label">Search Result :</label>
                    <div class="col-sm-6">
                        @Html.DropDownList("Search_Status_Code", (IEnumerable<SelectListItem>)ViewBag.SearchStatusList, "--Select--", new { @class = "form-control-sm form-control" })
                        @*@Html.DropDownList("I_Status", new SelectList(Model.EditSearchStatus, "Code", "Description"), new { @class = "form-control" })*@
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">
                        <a href="#" id="button">Result Comment</a>
                    </div>
                    <div class="col-sm-6">
                        <div id="newpost" style="display:none">
                            @Html.TextAreaFor(m => m.CommentDescription, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    
</div>


<script type="text/javascript">
$(function(){
    $('#button').click(function(){
        var div = document.getElementById("newpost");
        if (div.style.display !== "none") {
            div.style.display = "none";
        }
        else {
            div.style.display = "block";
        }
        return false;
    });
});
</script>
