﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Order Management
        </h1>       
    </div>


    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <!--AdvanceSearch-->
                <div class="panel panel-default panel-search">
                    <div class="panel-body" style="padding-bottom:0px !important;padding-top:0px !important">                        
                        <div class="box box-solid" style="box-shadow:none;margin-bottom:0px">
                            <div class="box-header ui-sortable-handle">
                                <i class="fa fa-search"></i>
                                <h3 class="box-title">Search By</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                          
                            <div class="box-body border-radius-none" style="">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <div gd class="label-wrapper">
                                                    <label class="control-label" for="txtStartDatepicker">Start Date</label>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input type="text" class="form-control date-input pull-right" id="txtStartDatepicker">
                                                </div>
                                                <!-- /.input group -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <div gd class="label-wrapper">
                                                    <label class="control-label" for="txtEndDatepicker">End Date</label>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input type="text" class="form-control date-input pull-right" id="txtEndDatepicker">
                                                </div>
                                                <!-- /.input group -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <div gd class="label-wrapper">
                                                    <label class="control-label" for="SearchOrderStatus">Order Status</label>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <select id="SearchOrderStatus" class="form-control select2" style="width:100%" multiple></select>                                                
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <div gd class="label-wrapper">
                                                    <label class="control-label" for="ddlPaymentStatus">Payment Status</label>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <select class="form-control select2" id="ddlPaymentStatus" multiple="multiple" style="width: 100%;">
                                                    <option value="">Pending Payment</option>
                                                    <option value="Paid">Paid</option>                                                                                                
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <div gd class="label-wrapper">
                                                    <label class="control-label" for="txtSearch">Request ID or Work ID</label>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <input class="form-control text-box single-line" id="txtSearch" name="txtSearch" value="" type="text">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <div gd class="label-wrapper">
                                                    <label class="control-label" for="txtRequestorSearch">Requestor Name or Email</label>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <input class="form-control text-box single-line" id="txtRequestorSearch" name="txtRequestorSearch" value="" type="text">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-7 col-md-offset-5">
                                        <div class="pull-right">
                                            <input type="button" value="Search" id="btnSearch"  class="btn btn-primary btn-search" />                                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Listing-->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="customers-grid" data-role="grid">
                            <table id="myTable" class="table table-responsive table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>                                        
                                        <th>Work Order</th>
                                        <th>Category</th>
                                        <th>Order Status</th>
                                        <th>Requestor Name</th>
                                        <th>Payment Status</th>                                                                  
                                        <th>CreatedOn</th>
                                        @*<th>Last Modified Date</th>*@
                                        <th style="display:none">Date</th>                                      
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>   
    $(document).ready(function () {

        $("#SearchOrderStatus").select2({            
            theme: "classic",
            ajax: {
                url: "/RequestOrder/SearchBindOrderStatus",
                dataType: "json",
                data: function (params) {
                    return {
                        searchTerm: params.term
                    };
                },
                processResults: function (data, params) {
                    return {
                        results: data
                    };
                }
            }
        });

        $("#ddlPaymentStatus").select2({
            theme: "classic"      
        });
        
        var oTable;
        $('#myTable tbody').on('click', 'td img', function () {
            var nTr = this.parentNode.parentNode;
            var tr = $(this).closest('tr');
            var row = oTable.row(tr);
            var DropdownMutipleOrderStatus = $("#SearchOrderStatus").val();            
             
            if (this.src.match('details_close')) {
                /* This row is already open - close it */
                this.src = "/Content/adminlte/img/details_open.png";
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                /* Open this row */
                this.src = "/Content/adminlte/img/details_close.png";
                var ID = $(this).attr("ID");
                var Category = $(this).attr("rel");
                var Transaction_Type = $(this).attr("name");
                $.get("/RequestOrder/RequestOrderItemList?ID=" + ID + "&Category=" + Category + "&Type=" + Transaction_Type + "&OrderStatus=" + DropdownMutipleOrderStatus, function (SP_Get_RequestOrderItemList_Result) {
                    row.child(SP_Get_RequestOrderItemList_Result).show();                    
                    tr.addClass('shown');
                });
            }
        });
        
            //jQuery DataTables initialization
        oTable = $('#myTable').DataTable({
                "lengthMenu": [[100, 200, 300, -1], [100, 200, 300, "All"]],
                "processing": true, // for show processing bar
                "serverSide": true, // for process on server side
                "orderMulti": false, // for disable multi column order      
                "order": [[0 , "desc" ]],
                //"aaSorting": [],
                "dom": '<"top"i>rt<"bottom"lp><"clear">', // for hide default global search box //
                "ajax": {
                    "url": "/RequestOrder/RequestOrderListing",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                  {
                      "targets": '_all',
                      "defaultContent": "",
                      "className": "custom-middle-align", "targets": [5],
                      "visible": false,  "targets": [0,8]                     

                  }

                ],
                "columns": [
                     { "data": "ID", "orderable": "false" },
                     {
                         "orderable" : false,                         
                         "data": "ID",
                         "data": "Code",
                         "data": "Request_Type_ID",
                         "data": "Transaction_Type",
                         "mRender": function (data, type, row, full) {
                             if (row.Request_Type_ID === 3) {                                 
                                 return '<img id="' + row.ID + '" name="' + row.Transaction_Type + '" src="/Content/adminlte/img/details_open.png" alt="expand/collapse" rel="' + row.Code + '"/>';
                             }else
                             {
                                 return '';
                             }
                         }
                     },   
                     { "data": "Request_Code" },
                     { "data": "Description" },
                     { "data": "I_Status" },
                     { "data": "RequestorName" },
                     { "data": "PaymentStatus" },                                   
                     {
                         "data": "CreatedOnDate"
                         ,"render": function (data) { return convertToDate(data); }
                     },                 
                     {
                         "orderable": false,
                         "data": "CreatedOnDate",
                         "render": function (data) { return convertToDate(data); }
                     },
                     {
                         "orderable": false,
                         "data": "ID",
                         "data": "Code",
                         "data": "Request_Type_ID",
                         "data": "Transaction_Type",
                         "mRender": function (data, type, row, full) {                             
                             return '<a href=/RequestOrder/RequestOrderEdit?ID=' + row.ID + '&Category=' + row.Code + '&Type=' + row.Request_Type_ID + '&Transaction_Type=' + row.Transaction_Type + '>' + '<i class="fa fa-eye"></i></a>';
                     }},
                ]
        });

        //Apply Custom search on jQuery DataTables here
        sTable = $('#myTable').DataTable();
        $('#btnSearch').click(function () {
            console.log('Button Click');          
            sTable.columns(2).search($('#txtSearch').val().trim());//Request Order
            //console.log(sTable.columns(2).search($('#txtSearch').val().trim()));

            //sTable.columns(3).search($('#ddlCategory').val());//Category
            ////console.log(sTable.columns(3).search($('#ddlCategory').val()));

            sTable.columns(4).search($('#SearchOrderStatus').val());//Requestor Search
            //console.log(sTable.columns(4).search($('#SearchOrderStatus').val()));

            sTable.columns(5).search($('#txtRequestorSearch').val().trim());//Requestor Search
            //console.log(sTable.columns(5).search($('#txtRequestorSearch').val().trim()));

            sTable.columns(6).search($('#ddlPaymentStatus').val());//Requestor Search               
            //console.log(sTable.columns(6).search($('#ddlPaymentStatus').val()));
                //Apply search for Employee Name // DataTable column index 0
            sTable.columns(7).search($('#txtStartDatepicker').val().trim());//StartDatepicker
            //console.log(sTable.columns(7).search($('#txtStartDatepicker').val().trim()));

            sTable.columns(8).search($('#txtEndDatepicker').val().trim());//EndDatepicker
            //console.log(sTable.columns(8).search($('#txtEndDatepicker').val().trim()));
                //Apply search for Country // DataTable column index
                //hit search on server
            sTable.draw();
            });
        });
</script>