﻿@model NAS_ARR.Models.ReporductionRequestOrderViewModels
@{    
    ViewBag.Title = "ReproductionOrderDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Edit Details - (@Model.RequestItem_Code)
        </h1>   
        <div class="pull-right">
                  
            @if (ViewBag.TransactionType == 2)
            {
                <button id="btnGenerateQuration" type="button" class="btn bg-gray-active">
                    <i class="fa fa-file-o"></i>
                    Generate Quotation
                </button>
            }
            

            <button id="btnDeliver"  type="button" class="btn bg-yellow">
                <i class="fa fa-file-o"></i>
                Deliver
            </button>
        </div>   
    </div>
    <div class="content-header clearfix">
        <div class="pull-left">
            <i class="fa fa-arrow-circle-left"></i>
            <a href="/RequestOrder/Index">back to listing</a>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- Custom Tabs -->
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab">Product</a></li>
                        <li><a href="#tab_2" data-toggle="tab">Info</a></li>                        
                        <li><a href="#tab_3" data-toggle="tab">Log</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <table id="ReproductionrecordsTable" class="table table-responsive table-striped">
                                <tr>
                                    <th></th>
                                    <th>ITEM</th>
                                    <th>UUID</th>
                                    <th>ACC NO.</th>
                                    <th>RECORD TITLE(FILE NAME)</th>
                                    <th>FORMAT</th>
                                    <th>RECORD STATUS</th>
                                    <th>PAYMENT STATUS</th>
                                    <th>DELIVERY STATUS</th>
                                    <th>HANDLED BY</th>
                                    <th style="display:none"></th>
                                    <th style="display:none"></th>
                                    <th></th>
                                </tr>
                                @foreach (var item in Model.RequestOrderItemList)
                                {
                                    <tr>
                                        <td><input type="checkbox" value="@item.ItemID" name="OrderItemCheckbox" id="@item.ItemID" class="parent" /></td>
                                        <td style="display:none"><input type="hidden" value="@item.ItemID" name="hItemID" id="hItemID" /></td>
                                        <td>@item.Item</td>
                                        <td>@item.ObjectID</td>
                                        <td>@item.ObjectDispID</td>
                                        <td>@item.RecTitle</td>                                      
                                        <td>@item.Format</td>
                                        <td>@item.I_Status</td>
                                        <td>@item.PaymentStatus</td>
                                        <td>@item.DeliveryStatus</td>
                                        <td>@item.ModifiedByUser</td>
                                        <td style="display:none"><input type="hidden" value="@item.Sub_Category_Code" name="hCategory_Code" id="hCategory_Code" /></td>
                                        <td style="display:none"><input type="hidden" value="@item.ReproductionType" name="hReproductionType" id="hReproductionType" /></td>                                        
                                        <td>
                                            <a href='@Url.Action("EditRequestOrderDetail", "RequestOrder",new {ID= item.ItemID})' data-target="#modal-container" data-toggle="modal">
                                                <span class='fa fa-edit'></span>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>

                        <div class="tab-pane" id="tab_2">
                            <h4>General Information</h4>
                            <div class="box box-info">
                                <div class="form-horizontal">
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="I_Status" class="col-sm-2 control-label">Order Status :</label>
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(m => m.I_Status, new { @class = "form-control", @readonly = "true", @disabled = "true" })                                                
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="Request_Code" class="col-sm-2 control-label">Request ID :</label>
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(m => m.Request_Code, new { @class = "form-control", @readonly = "true" , @disabled="true"})                                               
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="RequestorName" class="col-sm-2 control-label">Requestor's Name :</label>
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(m => m.RequestorName, new { @class = "form-control", @readonly = "true", @disabled = "true" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="RequestorEmail" class="col-sm-2 control-label">Requestor's Email :</label>
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(m => m.RequestorEmail, new { @class = "form-control", @readonly = "true", @disabled = "true" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="RequestorContact" class="col-sm-2 control-label">Mobile No :</label>
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(m => m.RequestorContact, new { @class = "form-control", @readonly = "true", @disabled = "true" })
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            @*<h4>Payment Method & Dispatch Method</h4>*@
                            <h4>Payment Method</h4>
                            <div class="box box-info">
                                <div class="form-horizontal">
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="I_Status" class="col-sm-2 control-label">Payment method :</label>
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(m => m.PaymentMethod, new { @class = "form-control", @readonly = "true", @disabled = "true" })
                                            </div>
                                        </div>    
                                        
                                        <div class="form-group">
                                            <label for="I_Status" class="col-sm-2 control-label">Payment Status :</label>
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(m => m.PaymentStatus, new { @class = "form-control", @readonly = "true", @disabled = "true" })
                                            </div>
                                        </div>                                   
                                    </div>
                                </div>
                            </div>
                            <h4>Invoice</h4>
                            <div class="box box-info">
                                <div class="form-horizontal">
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="Request_Code" class="col-sm-2 control-label">Invoice No :</label>
                                            <div class="col-sm-6">                                                -
                                                @*@Html.TextBoxFor(m => m.Request_Code, new { @class = "form-control", @readonly = "true" })*@
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="Request_Code" class="col-sm-2 control-label">Invoice Amount :</label>
                                            <div class="col-sm-6">                                                -
                                                @*@Html.TextBoxFor(m => m.Request_Code, new { @class = "form-control", @readonly = "true" })*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4>Routing</h4>
                            <div class="box box-info">
                                @using (Ajax.BeginForm("UpdateRoute", "RequestOrder", FormMethod.Post,
                                new AjaxOptions() { LoadingElementId = "myLoadingElement", OnComplete = "Unloading", OnFailure = "Unloading" },
                                new { id = "formAddProduct", @class = "form-horizontal", enctype = "multipart/form-data" }))
                                {   <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="User_Group_ID" class="col-sm-2 control-label">Route to :</label>
                                            <div class="col-sm-6">
                                                @Html.DropDownList("User_Group_ID", new SelectList(Model.DepartmentList, "ID", "Description"), new { @class = "form-control-sm form-control" })                                                
                                            </div>
                                        </div> 
                                        
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label"></label>
                                            <div class="col-sm-6">
                                                <input id="btnSend" type="submit" value="Send" class="btn btn-primary btn-flat" />                                                
                                            </div>
                                        </div>                                     
                                    </div>                                
                                }
                            </div>
                        </div>
                        
                        <div class="tab-pane" id="tab_3">
                            <table class="table table-responsive table-striped">
                                <tr>
                                    <th>ACTION</th>
                                    <th>DESCRIPTION</th>
                                    <th>CREATED BY</th>
                                    <th>CREATED DATE</th>

                                </tr>
                                @foreach (var item in Model.ActivityLogList)
                                {
                                    <tr>                                        
                                        <td>@item.Action</td>
                                        <td>@item.Description </td>
                                        <td>@item.CreatedByUserID</td>
                                        <td>@item.CreatedOnDate</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- nav-tabs-custom -->
            </div>
        </div>
    </div>
</div>

<div id="modal-container" class="modal fade" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

<div id="modal-Quatation" class="modal fade" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button id="btnClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Generate Quration</h4>
        </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("UpdateReproducitonQuatation", "RequestOrder", FormMethod.Post,
                    new AjaxOptions() { LoadingElementId = "myLoadingElement", OnComplete = "Unloading", OnFailure = "Unloading" },
                    new { id = "formQuatation", @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                            @Html.AntiForgeryToken()
                            
                                <input type="hidden" name="hEItem_ID" id="hEItem_ID">
                                <input type="hidden" name="hStatus" id="hStatus">

                                <div class="col-md-6">
                                    <div class="form-group">
                                            <label for="txtRemarkQuotation" class="col-sm-2 control-label">Comment </label>
                                            <div class="col-md-10">
                                                <textarea id="txtRemarkQuotation" name="txtRemarkQuotation" value="" class="form-control"></textarea>
                                            </div>                                            
                                        </div>
                                </div>

                                <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <div gd class="label-wrapper">
                                                    <label class="control-label" for="txt">Valid Date</label>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input type="text" class="form-control date-input pull-right" name="txtUntilDatepicker" id="txtUntilDatepicker" required=true>
                                                </div>
                                                <!-- /.input group -->
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <div gd class="label-wrapper">
                                                    <label class="control-label" for="txt">Valid Until</label>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input type="text" class="form-control date-input pull-right" name="txtUntilValidDatepicker"  id="txtUntilValidDatepicker" required=true>
                                                </div>
                                            </div>
                                        </div>
                                </div>


                            <table class="table table-borderless">                            
                                <tbody id="searchResult"></tbody>
                            </table>

                            <div class="form-group">
                                <label for="Request_Code" class="col-md-11 control-label">AAFee :</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control" id="txtAAFEE"  name="txtAAFEE"  readonly="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Request_Code" class="col-md-11 control-label">GST :</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control" id="txtGST" name="txtGST" readonly="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Request_Code" class="col-md-11 control-label">Total :</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control" id="txtTotal" name="txtTotal" readonly="true">
                                </div>
                            </div>
                            <div class="modal-footer">                                                 
                                <a href="javascript:void(0);" class="btn btn-primary btn-sm Custombtn" data-dismiss="modal" id="btnQuatationCancel">Cancel</a>
                                <input type="submit" value="Generate" name="btnUpdateReproducitonQuatation" id="UpdateReproducitonQuatation" class="btn btn-primary btn-sm Custombtn" />
                            </div>
                }               
            </div>
        </div>
    </div>
</div>
 
<div id="modal-Delivery" class="modal fade" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button id="btnClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Generate Delivery</h4>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("UpdateReproducitonDelivery", "RequestOrder", FormMethod.Post,
                new AjaxOptions() { LoadingElementId = "myLoadingElement", OnComplete = "Unloading", OnFailure = "Unloading" },
                new { id = "formDelivery", @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                         <input type="hidden" name="hDItem_ID" id="hDItem_ID">
                         <input type="hidden" name="hDStatus" id="hDStatus">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtRemarkQuotation" class="col-sm-2 control-label">Type</label>
                                    <div class="col-md-10">
                                        <select class="form-control" id="ddlDeliveryType" name="ddlDeliveryType">
                                            <option value="1">Download</option>
                                            <option value="2">Locker</option>
                                            <option value="3">ARR Staff</option>
                                            <option value="4">Postal</option>
                                            <option value="5">Email</option>
                                            <option value="6">View Onsite Restricted VARR Terminal</option>
                                            <option value="7">View Onsite Public VARR Terminal</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <div gd class="label-wrapper">
                                            <label class="control-label" for="txt">Delivery Date</label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control date-input pull-right" name="txtUntilDatepicker" id="txtDUntilDatepicker" required=true>
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>                           
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtRemarkDelivery" class="col-sm-2 control-label">Comment </label>
                                    <div class="col-md-10">
                                        <textarea id="txtRemarkDelivery" name="txtRemarkDelivery" value="" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <div gd class="label-wrapper">
                                            <label class="control-label" for="txt">Valid Until</label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control date-input pull-right" name="txtUntilValidDatepicker" id="txtDUntilValidDatepicker" required=true>
                                        </div>
                                    </div>
                                </div>
                            </div>



                                <table class="table table-borderless">
                                    <tbody id="DeliveryItemResult"></tbody>
                                </table>
                             
                                <div class="modal-footer">                                                                       
                                    <a href="javascript:void(0);" class="btn btn-primary btn-sm Custombtn" data-dismiss="modal" id="btnDeliveryCancel">Cancel</a>
                                    <input type="submit" value="Generate" name="btnGenerateDelivery" class="btn btn-primary btn-sm Custombtn" />
                                </div>
                }
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">


    //$('.parent').on('ifChecked', function (event) {
    //    $(this).parent("td").siblings(), function () {            
    //        alert("val---" + values);
    //    }
    //    //alert('selected: ' + $(this).val());
    //    //var Format = "";
    //    //var ReproductionType = "";
    //    //var hCategory_Code = "";
    //    //$('#ReproductionrecordsTable tr').each(function () {
    //    //    var checkbox_cell_is_checked = $(this).find('input[name=OrderItemCheckbox]').is(':checked');
    //    //    if (checkbox_cell_is_checked) {
    //    //        var objfilerec = new Object();
    //    //        objfilerec = $(this).find('input[name="hItemID"]').val();
    //    //        apptotalfiles.push(objfilerec);
    //    //    }
    //    //})
    //});

    //$('.parent').on('ifUnchecked', function (event) {
    //    alert('B');
      
    //});

    $('#btnGenerateQuration').click(function (e) {
        e.preventDefault();
        var apptotalfiles = [];
        $("#formQuatation")[0].reset();
        $('#ReproductionrecordsTable tr').each(function () {
            var checkbox_cell_is_checked = $(this).find('input[name=OrderItemCheckbox]').is(':checked');
            if (checkbox_cell_is_checked) {                
                var objfilerec = new Object();
                objfilerec = $(this).find('input[name="hItemID"]').val();                
                apptotalfiles.push(objfilerec);
            }
        })

        $("#txtUntilDatepicker").datepicker().datepicker("setDate", new Date());
        var now = new Date();
        now.setDate(now.getDate() + 60);        
        $("#txtUntilValidDatepicker").datepicker().datepicker("setDate", now);


        var url = "/RequestOrder/GenerateQuatationDetail";
        $.ajax({            
            url: url,
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(apptotalfiles),
            success: function (Data) {
                var FooterData = Data[0];
                var TotalPrice = 0;
                var TotalAAFee = 0;
                var output = $("#searchResult");
                output.empty();
                for (var i = 0; i < Data.length ; i++) {
                    var ItemData = Data[i];
                    output.append("<tr style='font-weight:bold;background-color:#e0dfde;'><td> Item:    " + ItemData.RequestItem_Code + "</td>" +
                   "<td style='text-align: end;'>$ " + ItemData.Price + "</td></tr>");
                    output.append("<tr><td style='padding-left: 100px;'> Item :   " + ItemData.RequestItem_Code + "</td></tr>");
                    output.append("<tr><td style='padding-left: 100px;'> UUID :   " + ItemData.ObjectID + "</td></tr>");
                    output.append("<tr><td style='padding-left: 100px;'> Accession No :    " + ItemData.ObjectDispID + "</td></tr>");
                    output.append("<tr><td style='padding-left: 100px;'> Record Title :    " + ItemData.RecTitle + "</td></tr>");
                    output.append("<tr><td style='padding-left: 100px;'> Page :   " + ItemData.Page + "</td></tr>");
                    output.append("<tr><td style='padding-left: 100px;'> Calculated Duration :   " + ItemData.SelectedDuration + "</td></tr>");
                    output.append("<tr><td style='padding-left: 100px;'> Start Time :   " + ItemData.Start_Time + "</td>" +
                     "<td>First few words :   " + ItemData.First_Few_Words + "</td></tr>");
                    output.append("<tr><td style='padding-left: 100px;'> End Time :   " + ItemData.End_Time + "</td>" +
                     "<td>Last few words :   " + ItemData.Last_Few_Words + "</td></tr>");
                    TotalAAFee += ItemData.AAFee;
                    TotalPrice += ItemData.Price;

                    var cur_val = $('#hEItem_ID').val();
                    if (cur_val)
                        $('#hEItem_ID').val(cur_val + "," + ItemData.ID);
                    else
                        $('#hEItem_ID').val(ItemData.ID);
                }
                console.log($('#hEItem_ID').val());                
                var calcPrice = TotalPrice - ((TotalPrice / 100) * 7).toFixed(2);
                $('#txtAAFEE').val(TotalAAFee);
                $('#txtTotal').val(TotalPrice + TotalAAFee + calcPrice);
                $('#txtGST').val(calcPrice);
                
                jQuery('#modal-Quatation').modal();
            }
        })
    })


    $('#btnDeliver').click(function (e) {
        e.preventDefault();
        var apptotalfiles = [];
        $('#ReproductionrecordsTable tr').each(function () {
            var checkbox_cell_is_checked = $(this).find('input[name=OrderItemCheckbox]').is(':checked');
            if (checkbox_cell_is_checked) {
                var objfilerec = new Object();
                objfilerec = $(this).find('input[name="hItemID"]').val();
                apptotalfiles.push(objfilerec);
            }
        })

        $("#txtDUntilDatepicker").datepicker().datepicker("setDate", new Date());
        var now = new Date();
        now.setDate(now.getDate() + 60);
        $("#txtDUntilValidDatepicker").datepicker().datepicker("setDate", now);
                
       var url = "/RequestOrder/GenerateReproducitonDelivery";
        $.ajax({
            url: url,
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(apptotalfiles),
            success: function (Data) {
                var output = $("#DeliveryItemResult");
                output.empty();
                for (var i = 0; i < Data.length ; i++) {
                    var ItemData = Data[i];
                    output.append("<tr style='font-weight:bold;background-color:#e0dfde;'><td> Item:    " + ItemData.RequestItem_Code + "</td>" +
                   "<td style='text-align: end;'>$ " + ItemData.Price + "</td></tr>");
                    output.append("<tr><td style='padding-left: 100px;'> Item :   " + ItemData.RequestItem_Code + "</td></tr>");
                    output.append("<tr><td style='padding-left: 100px;'> UUID :   " + ItemData.ObjectID + "</td></tr>");
                    output.append("<tr><td style='padding-left: 100px;'> Accession No :    " + ItemData.ObjectDispID + "</td></tr>");
                    output.append("<tr><td style='padding-left: 100px;'> Record Title :    " + ItemData.RecTitle + "</td></tr>");
                    output.append("<tr><td style='padding-left: 100px;'> Page :   " + ItemData.Page + "</td></tr>");
                    output.append("<tr><td style='padding-left: 100px;'> Calculated Duration :   " + ItemData.SelectedDuration + "</td></tr>");
                    output.append("<tr><td style='padding-left: 100px;'> Start Time :   " + ItemData.Start_Time + "</td>" +
                     "<td>First few words :   " + ItemData.First_Few_Words + "</td></tr>");
                    output.append("<tr><td style='padding-left: 100px;'> End Time :   " + ItemData.End_Time + "</td>" +
                     "<td>Last few words :   " + ItemData.Last_Few_Words + "</td></tr>");

                    var cur_val = $('#hDItem_ID').val();
                    if (cur_val)
                        $('#hDItem_ID').val(cur_val + "," + ItemData.ID);
                    else
                        $('#hDItem_ID').val(ItemData.ID);
                }
                console.log($('#hDItem_ID').val());
                jQuery('#modal-Delivery').modal();
            }
        })
    })
    
    $(function () {
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });            
    });   
</script>