﻿@model List<SP_Get_RequestOrderItemList_Result>

<table class="table table-responsive table-striped" style="width:97%;padding-top:0px;margin-left:30px;">
    <tr>
        <th style="background-color:#79a0b4;">ITEM</th>
        <th style="background-color:#79a0b4;">UUID</th>
        <th style="background-color:#79a0b4;">ACC NO.</th>
        <th style="background-color:#79a0b4;">RECORD TITLE(FILE NAME)</th>
        <th style="background-color:#79a0b4;">FORMAT</th>
        <th style="background-color:#79a0b4;">RECORD STATUS</th>
        <th style="background-color:#79a0b4;">PAYMENT STATUS</th>
        <th style="background-color:#79a0b4;">DELIVERY STATUS</th>
        <th style="background-color:#79a0b4;">HANDLED BY</th>
        <th style="background-color:#79a0b4;">Last Modified Date</th>
        <th style="background-color:#79a0b4;"></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>            
            <td>@item.Item</td>
            <td>@item.ObjectID</td>
            <td>@item.ObjectDispID</td>            
            <td>@item.RecTitle</td>
            <td>@item.Format</td>
            <td>@item.I_Status</td>
            <td>@item.PaymentStatus</td>
            <td>@item.DeliveryStatus</td>
            <td>@item.ModifiedByUser</td>       
            <td>@item.ModifiedOnDate</td>            
            <td>                
                <a href='@Url.Action("RequestOrderItemEdit", "RequestOrder", new { ID = item.ID, Order_ID = item.Order_ID})'>
                    <span class='fa fa-eye'></span>
                </a>               
            </td>
        </tr>
    }
</table>
