﻿
@model NAS_ARR.Models.SchoolRequestOrderViewModels
@{
    ViewBag.Title = "SchoolOrderDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="content-wrapper">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Edit Details  - (@Model.Request_Code)
        </h1>        
    </div>
    <div class="content-header clearfix">
        <div class="pull-left">
            <i class="fa fa-arrow-circle-left"></i>
            <a href="/RequestOrder/Index">back to listing</a>
        </div>

        @*<div class="pull-right">
            
        </div>*@

        <div class="pull-right">
            @*<button id="btnGenerateQuration" type="button" class="btn bg-gray-active">
                <i class="fa fa-file-o"></i>
                Generate Quotation
            </button>*@

            <a href='javascript:void(0);' class="btn bg-gray-active" onclick='QuotationPopup(@Model.Item_ID)'><i class="fa fa-file-o"></i>  Generate Quotation</a>

            @*<a class="btn bg-yellow" href='@Url.Action("EditRequestOrderDetail", "RequestOrder",new {ID= item.ID})' data-target="#modal-container" data-toggle="modal">
                <i class="fa fa-file-o"></i>
            </a>*@

            <a href='javascript:void(0);' class="btn bg-yellow" onclick='DeliveryPopup(@Model.Item_ID)'><i class="fa fa-file-o"></i>  Deliver</a>
            @*<button id="btnDeliver" type="button" class="btn bg-yellow">
                <i class="fa fa-file-o"></i>
                Deliver
            </button>*@
        </div> 
    </div>

    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- Custom Tabs -->
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab">Product</a></li>                        
                        <li><a href="#tab_2" data-toggle="tab">Info</a></li>
                        <li><a href="#tab_3" data-toggle="tab">Log</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <table class="table table-responsive table-striped">
                                <tr>
                                    <th style="display:none"></th>
                                    <th>ITEM</th>
                                    <th>NAME OF REQUESTOR</th>
                                    <th>NAME OF SCHOOL</th>
                                    <th>FROM YEAR</th>
                                    <th>TO YEAR</th>
                                    <th>REMARKS</th>
                                    <th>STATUS</th>
                                    <th>PAYMENT STATUS</th>
                                    <th>DELIVERY STATUS</th>
                                    <th>HANDLED BY</th>
                                    <th></th>
                                </tr>                        
                                <tr>
                                    <td style="display:none">@Model.ID</td>
                                    <td>@Model.Item</td>
                                    <td>@Model.RequestorName</td>
                                    <td>@Model.S_NameOfSchool</td>
                                    <td>@Model.S_From_Year</td>
                                    <td>@Model.S_To_Year</td>
                                    <td>@Model.Remark</td>
                                    <td>@Model.I_Status</td>
                                    <td>@Model.PaymentStatus</td>
                                    <td>@Model.DeliveryStatus</td>
                                    <td>@Model.ModifiedByUser</td>
                                    <td>
                                        <a href='@Url.Action("EditSchoolOrderDetail", "RequestOrder",new {ID= Model.ID})' data-target="#modal-container" data-toggle="modal">
                                            <span class='fa fa-edit'></span>
                                        </a>
                                    </td>
                                </tr>                               
                            </table>
                        </div>

                        <div class="tab-pane" id="tab_2">
                            <h4>General Information</h4>
                            <div class="box box-info">
                                <div class="form-horizontal">
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="I_Status" class="col-sm-2 control-label">Order Status :</label>
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(m => m.I_Status, new { @class = "form-control Clabel", @readonly = "true", @disabled = "true" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="Request_Code" class="col-sm-2 control-label">Request ID :</label>
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(m => m.Request_Code, new { @class = "form-control", @readonly = "true", @disabled = "true" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="RequestorName" class="col-sm-2 control-label">Requestor's Name :</label>
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(m => m.RequestorName, new { @class = "form-control", @readonly = "true", @disabled = "true" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="RequestorEmail" class="col-sm-2 control-label">Requestor's Email :</label>
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(m => m.RequestorEmail, new { @class = "form-control", @readonly = "true", @disabled = "true" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="RequestorContact" class="col-sm-2 control-label">Mobile No :</label>
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(m => m.RequestorContact, new { @class = "form-control", @readonly = "true", @disabled = "true" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<h4>Payment Method & Dispatch Method</h4>*@
                            <h4>Payment Method</h4>
                            <div class="box box-info">
                                <div class="form-horizontal">
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="I_Status" class="col-sm-2 control-label">Payment method :</label>
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(m => m.PaymentMethod, new { @class = "form-control", @readonly = "true", @disabled = "true" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="I_Status" class="col-sm-2 control-label">Payment Status :</label>
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(m => m.PaymentStatus, new { @class = "form-control", @readonly = "true", @disabled = "true" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4>Invoice</h4>
                            <div class="box box-info">
                                <div class="form-horizontal">
                                    <!-- /.box-header -->
                                    <div class="box-body">

                                        <div class="form-group">
                                            <label for="Request_Code" class="col-sm-2 control-label">Invoice No :</label>
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(m => m.ReferenceNo, new { @class = "form-control", @readonly = "true", @disabled = "true" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="Request_Code" class="col-sm-2 control-label">Invoice Amount :</label>
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(m => m.NetAmount, new { @class = "form-control", @readonly = "true", @disabled = "true" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        

                        <div class="tab-pane" id="tab_3">
                            <table class="table table-responsive table-striped">
                                <tr>
                                    <th>ACTION</th>
                                    <th>DESCRIPTION</th>
                                    <th>CREATED BY</th>
                                    <th>CREATED DATE</th>

                                </tr>
                                @foreach (var item in Model.ActivityLogList)
                                {
                                    <tr>
                                        @*<td>@item.ID</td>*@
                                        <td>@item.Action</td>
                                        <td>@item.Description </td>
                                        <td>@item.CreatedByUserID</td>
                                        <td>@item.CreatedOnDate</td>

                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- nav-tabs-custom -->
            </div>
        </div>
    </div>
</div>

<div id="modal-container" class="modal fade" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>


<div class="modal fade" id="QuotationModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="btnClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h4 id="ModalTitle">Generate Quotation</h4>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("GenerateSchoolQuotation", "RequestOrder", FormMethod.Post,
             new AjaxOptions() { LoadingElementId = "myLoadingElement", OnComplete = "Unloading", OnFailure = "Unloading" },
             new { id = "formQuotation", @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <input type="hidden" name="hEItem_ID" id="hEItem_ID">
                        <input type="hidden" name="hH_ID" id="hH_ID">                 
                        <input type="hidden" name="hE_Status_Code" id="hE_Status_Code">                                         

                        <div class="form-group">
                            <label for="txtUntilValidDatepicker" class="col-sm-2 control-label">Valid Until :</label>
                            <div class="col-sm-6">

                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control date-input pull-right" name="txtUntilValidDatepicker" id="txtUntilValidDatepicker" required=true>
                                </div>
                            </div>
                        </div>


                            <div class="form-group">
                                <label for="txtQRequestCode" class="col-sm-2 control-label">Request Code :</label>
                                <div class="col-sm-6">
                                    <input type="text" id="txtQRequestCode" name="txtQRequestCode" value="" class="form-control" readonly="true" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="txtQRequestName" class="col-sm-2 control-label">Request Name :</label>
                                <div class="col-sm-6">
                                    <input type="text" id="txtQRequestName" name="txtQRequestName" value="" class="form-control" readonly="true" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="txtQRequestEmail" class="col-sm-2 control-label">Request Email :</label>
                                <div class="col-sm-6">
                                    <input type="text" id="txtQRequestEmail" name="txtQRequestEmail" value="" class="form-control" readonly="true" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="txtQMobile" class="col-sm-2 control-label">Mobile Number :</label>
                                <div class="col-sm-6">
                                    <input type="text" id="txtQMobile" name="txtQMobile" value="" class="form-control" readonly="true" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="txtQNameOfSchool" class="col-sm-2 control-label">Name of School :</label>
                                <div class="col-sm-6">
                                    <input type="text" id="txtQNameOfSchool" name="txtQNameOfSchool" value="" class="form-control" readonly="true" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="txtQFYear" class="col-sm-2 control-label">From Year :</label>
                                <div class="col-sm-6">
                                    <input type="text" id="txtQFYear" name="txtQFYear" value="" class="form-control" readonly="true" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="txtQTYear" class="col-sm-2 control-label">To Date :</label>
                                <div class="col-sm-6">
                                    <input type="text" id="txtQTYear" name="txtQTYear" value="" class="form-control" readonly="true" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="txtQRemark" class="col-sm-2 control-label">Remark :</label>
                                <div class="col-sm-6">
                                    <input type="text" id="txtQRemark" name="txtQRemark" value="" class="form-control" readonly="true" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="txtQPrice" class="col-sm-2 control-label">Total Price $:</label>
                                <div class="col-sm-6">
                                    <input type="text" id="txtQPrice" name="txtQPrice" value="" class="form-control" readonly="true" />
                                </div>
                            </div>

                        </div>

                    <div class="modal-footer">
                        <a href="javascript:void(0);" class="btn btn-primary" data-dismiss="modal" id="btnQuotationCancel">Cancel</a>
                        <input type="submit" value="Generate" name="btnGenerateQuotation" class="btn btn-primary" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="SDeliveryModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="btnClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h4 id="ModalTitle">Generate Delivery</h4>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("GenerateSchoolDelivery", "RequestOrder", FormMethod.Post,
             new AjaxOptions() { LoadingElementId = "myLoadingElement", OnComplete = "Unloading", OnFailure = "Unloading" },
             new { id = "formDelivery", @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <input type="hidden" name="hDH_ID" id="hDH_ID">
                        <input type="hidden" name="hDItem_ID" id="hDItem_ID">                        
                        <input type="hidden" name="hD_Status_Code" id="hD_Status_Code">

                        <div class="form-group">
                            <label for="txtUntilValidDatepicker" class="col-sm-2 control-label">Valid Till :</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control date-input pull-right" name="txtUntilValidDatepicker" id="txtUntilValidDatepicker" required=true>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="txtDRemarkDelivery" class="col-sm-2 control-label">Comment :</label>
                            <div class="col-sm-6">
                                <textarea id="txtDRemarkDelivery" name="txtDRemarkDelivery" value="" class="form-control"></textarea>
                            </div>
                        </div>  


                        <div class="form-group">
                            <label for="txtDRequestCode" class="col-sm-2 control-label">Request Code :</label>
                            <div class="col-sm-6">
                                <input type="text" id="txtDRequestCode" name="txtDRequestCode" value="" class="form-control" readonly="true" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtDRequestName" class="col-sm-2 control-label">Request Name :</label>
                            <div class="col-sm-6">
                                <input type="text" id="txtDRequestName" name="txtDRequestName" value="" class="form-control" readonly="true" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtDRequestEmail" class="col-sm-2 control-label">Request Email :</label>
                            <div class="col-sm-6">
                                <input type="text" id="txtDRequestEmail" name="txtDRequestEmail" value="" class="form-control" readonly="true" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtDMobile" class="col-sm-2 control-label">Mobile Number :</label>
                            <div class="col-sm-6">
                                <input type="text" id="txtDMobile" name="txtDMobile" value="" class="form-control" readonly="true" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtDNameOfSchool" class="col-sm-2 control-label">Name of School :</label>
                            <div class="col-sm-6">
                                <input type="text" id="txtDNameOfSchool" name="txtDNameOfSchool" value="" class="form-control" readonly="true" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtDFYear" class="col-sm-2 control-label">From Year :</label>
                            <div class="col-sm-6">
                                <input type="text" id="txtDFYear" name="txtDFYear" value="" class="form-control" readonly="true" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtDTYear" class="col-sm-2 control-label">To Date :</label>
                            <div class="col-sm-6">
                                <input type="text" id="txtDTYear" name="txtDTYear" value="" class="form-control" readonly="true" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtDRemark" class="col-sm-2 control-label">Requestor Remark :</label>
                            <div class="col-sm-6">
                                <input type="text" id="txtDRemark" name="txtDRemark" value="" class="form-control" readonly="true" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtDSearchResult" class="col-sm-2 control-label">Search Result:</label>
                            <div class="col-sm-6">
                                <input type="text" id="txtDSearchResult" name="txtDSearchResult" value="" class="form-control" readonly="true" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtDPrice" class="col-sm-2 control-label">Total Price $:</label>
                            <div class="col-sm-6">
                                <input type="text" id="txtDPrice" name="txtDPrice" value="" class="form-control" readonly="true" />
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <a href="javascript:void(0);" class="btn btn-primary" data-dismiss="modal" id="btnDeliveryCancel">Cancel</a>
                        <input type="submit" value="Generate" name="btnGenerateDelivery" class="btn btn-primary" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">

    function QuotationPopup(ID) {
        $("#formQuotation")[0].reset();
        $('#hEItem_ID').val(ID);

        jQuery('#QuotationModal').modal();
        var url = "/RequestOrder/SchoolModelPopup?ItemID=" + ID;
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(JSON.stringify(data));

                $("#txtQRequestCode").val(obj.Request_Code);
                $("#txtQRequestName").val(obj.RequestorName);
                $("#txtQRequestEmail").val(obj.RequestorEmail);
                $("#txtQMobile").val(obj.RequestorContact);
                $("#txtQNameOfSchool").val(obj.S_NameOfSchool);
                $("#txtQFYear").val(obj.S_From_Year);
                $("#txtQTYear").val(obj.S_To_Year);
                $("#txtQPrice").val(obj.Price);                
                $("#txtQRemark").val(obj.Remark);
                $('#hH_ID').val(obj.ID);
                $("#hE_Status_Code").val(obj.Status_Code);                
            }
        })
    }

    function DeliveryPopup(ID) {
        $("#formDelivery")[0].reset();
        $('#hDItem_ID').val(ID);

        jQuery('#SDeliveryModal').modal();
        var url = "/RequestOrder/SchoolModelPopup?ItemID=" + ID;
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(JSON.stringify(data));

                $("#txtDRequestCode").val(obj.Request_Code);
                $("#txtDRequestName").val(obj.RequestorName);
                $("#txtDRequestEmail").val(obj.RequestorEmail);
                $("#txtDMobile").val(obj.RequestorContact);
                $("#txtDNameOfSchool").val(obj.S_NameOfSchool);
                $("#txtDFYear").val(obj.S_From_Year);
                $("#txtDTYear").val(obj.S_To_Year);
                $("#txtDPrice").val(obj.Price);                
                $("#txtDRemark").val(obj.Remark);
                $('#hDH_ID').val(obj.ID);
                $("#hD_Status_Code").val(obj.Status_Code);                
            }
        })
    }

    $(function () {
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });
            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function () {
                $('#modal-container').modal('hide');
            });
            //clear modal cache, so that new content can be loaded
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });
            $('#CancelModal').on('click', function () {
                return false;
            });
        });
</script>

