﻿@model NAS_ARR.Models.EditMarriageRecordModels
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Marriage Request Detail
        </h1>
        <div class="pull-right">
            <a class="btn bg-blue" href="/Admin/Category/Create">
                <i class="fa fa-plus-square"></i>
                Add new
            </a>
            <div class="btn-group">
                <button type="button" class="btn btn-success">
                    <i class="fa fa-download"></i>
                    Export
                </button>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">&nbsp;</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="/Admin/Category/ExportXml">
                            <i class="fa fa-file-code-o"></i>
                            Export to XML
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Category/ExportXlsx">
                            <i class="fa fa-file-excel-o"></i>
                            Export to Excel
                        </a>
                    </li>
                </ul>
            </div>
            <button type="button" name="importexcel" class="btn bg-olive" data-toggle="modal" data-target="#importexcel-window">
                <i class="fa fa-upload"></i>
                Import
            </button>
            <button type="button" id="approve-selected" class="btn bg-green">
                <i class="fa fa-check-square-o"></i>
                Approve selected
            </button>
            <button type="button" id="disapprove-selected" class="btn bg-navy">
                <i class="fa fa-minus-square-o"></i>
                Disapprove selected
            </button>
            <button type="button" id="delete-selected" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                Delete selected
            </button>
        </div>
    </div>
        <div class="content-header clearfix">      
        <div class="pull-left">
            <i class="fa fa-arrow-circle-left"></i>
            <a href="/MarriageRecord/Index">back to listing</a>
        </div>
    </div>
        
        <div class="content">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title"><strong>Request No : (@Html.DisplayFor(m => m.Request_Code))</strong></h3>
                    <h3 class="box-title pull-right"><strong>Status : (@Html.DisplayFor(m => m.Status))</strong></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <!-- /.Left col -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txtNameofPatron">Name of Patron</label>
                                @Html.TextBoxFor(m => m.RequestorName, new { id = "txtNameofPatron", @class = "form-control", @readonly = "true" })
                            </div>

                            <div class="form-group">
                                <label for="txtEmail">Email</label>
                                @Html.TextBoxFor(m => m.Email, new { id = "txtEmail", @class = "form-control", @readonly = "true" })
                            </div>


                            <div class="form-group">
                                <label for="txtContactNo">Contact No</label>
                                @Html.TextBoxFor(m => m.Contact_Number, new { id = "txtContactNo", @class = "form-control", @readonly = "true" })
                            </div>

                            <div class="form-group">
                                <label for="txtTypeofMarriage">Type of Marriage</label>
                                @Html.TextBoxFor(m => m.Type_of_Marriage, new { id = "txtTypeofMarriage", @class = "form-control", @readonly = "true" })
                            </div>
                        </div>



                        <!-- /.Right col -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txtNameInMarrage">Name in Marriage Record</label>
                                @Html.TextBoxFor(m => m.Name, new { id = "txtNameInMarrage", @class = "form-control", @readonly = "true" })
                            </div>

                            <div class="form-group">
                                <label for="txtNameofSpouse">Name of Spouse</label>
                                @Html.TextBoxFor(m => m.Name_of_Spouse_in_Marriage_Record, new { id = "txtNameofSpouse", @class = "form-control", @readonly = "true" })
                            </div>
                            <div class="form-group">
                                <label for="txtFromDate">From Date</label>
                                @Html.TextBoxFor(m => m.From_Date, new { id = "txtFromDate", @class = "form-control", @readonly = "true" })

                                @*<label for="txtToDate" class="col-sm-2 control-label">To Date</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(m => m.To_Date, new { id = "txtToDate", @class = "form-control", @readonly = "true" })
                                    </div>*@
                            </div>

                            <div class="form-group">
                                <label for="txtRemark">Remark</label>
                                @Html.TextAreaFor(m => m.Remark, new { id = "txtRemark", @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->

            </div>

            @*<div class="row">
                    <div class="col-md-12">
                        <!-- Horizontal Form -->
                        <div class="box box-info">
                            <!-- /.box-header -->
                            <div class="box-header with-border">
                                <h3 class="box-title"><strong>Request No : (@Html.DisplayFor(m => m.Request_Code))</strong></h3>
                                <h3 class="box-title pull-right"><strong>Status : (@Html.DisplayFor(m => m.Status))</strong></h3>
                            </div>
                            <!-- form start -->
                            <form class="form-horizontal">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="txtNameofPatron" class="col-sm-2 control-label">Name of Patron</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(m => m.RequestorName, new { id = "txtNameofPatron", @class = "form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtEmail" class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(m => m.Email, new { id = "txtEmail", @class = "form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtContactNo" class="col-sm-2 control-label">Contact No</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(m => m.Contact_Number, new { id = "txtContactNo", @class = "form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtNameInMarrage" class="col-sm-2 control-label">Name in Marriage Record</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(m => m.Name, new { id = "txtNameInMarrage", @class = "form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtNameofSpouse" class="col-sm-2 control-label">Name of Spouse</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(m => m.Name_of_Spouse_in_Marriage_Record, new { id = "txtNameofSpouse", @class = "form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtFromDate" class="col-sm-2 control-label">From Date</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(m => m.From_Date, new { id = "txtFromDate", @class = "form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtToDate" class="col-sm-2 control-label">To Date</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(m => m.To_Date, new { id = "txtToDate", @class = "form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtTypeofMarriage" class="col-sm-2 control-label">Type of Marriage</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(m => m.Type_of_Marriage, new { id = "txtTypeofMarriage", @class = "form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtRemark" class="col-sm-2 control-label">Remark</label>
                                        <div class="col-sm-10">
                                            @Html.TextAreaFor(m => m.Remark, new { id = "txtRemark", @class = "form-control", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->

                                <!-- /.box-footer -->
                            </form>
                        </div>
                        <!-- Horizontal Form End-->
                    </div>
                </div>*@
        </div>
</div>

