﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Marriage Request
        </h1>       
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <!--AdvanceSearch-->
                @*<div class="panel panel-default panel-search">
                    <div class="panel-body" style="padding-bottom:0px !important;padding-top:0px !important">                        
                        <div class="box box-solid" style="box-shadow:none;margin-bottom:0px">
                            <div class="box-header ui-sortable-handle">
                                <i class="fa fa-search"></i>
                                <h3 class="box-title">Filter</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body border-radius-none" style="">
                                <div class="row">
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="radio-inline">
                                                    <input type="checkbox" name="inlineRadioOptionsWeek" id="Checkbox0" value="0">Sunday
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="checkbox" name="inlineRadioOptionsWeek" id="Checkbox1" value="1">Monday
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="checkbox" name="inlineRadioOptionsWeek" id="Checkbox2" value="2">Tuesday
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="checkbox" name="inlineRadioOptionsWeek" id="Checkbox3" value="3">Wednesday
                                                </label>
                                            </div>                                          
                                        </div>
                                    </div>                                                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
                <!--Listing-->
                <div class="panel panel-default">
                    <div class="panel-body">                                    
                        <div id="customers-grid" data-role="grid">
                            <table class="table table-striped table-bordered table-hover"
                                   id="TableId"
                                   cellspacing="0"
                                   align="center"
                                   width="100%">
                                <thead>
                                    <tr>                                        
                                        <th>No</th>
                                        <th>Patron Name</th>
                                        <th>Request Date</th>
                                        <th>Name in Marriage Record</th>
                                        <th>Marriage Type</th>                                        
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">   
    $(document).ready(function () {
        var oTable = $('#TableId').DataTable(
        {
            "lengthMenu": [[100, 200, 300, -1], [100, 200, 300, "All"]],
            //"lengthMenu": [[500, 1000, 1500, -1], [500, 1000, 1500, "All"]],
            "order": [[0, "desc"]],            
            "columnDefs": [
                { "width": "5%", "targets": [0] },                
                { "className": "custom-middle-align", "targets": [0, 1, 2, 3, 4, 5, 6] },
                { orderable: false, targets: [6] }
            ],          
            "language":
                {
                    "processing": "<div class='overlay custom-loader-background'><i class='fa fa-cog fa-spin custom-loader-color'></i></div>"
                },
            "processing": true,
            "serverSide": true,
            "ajax":
                {
                    "url": "/MarriageRecord/MarrigeRequestListing",
                    "type": "POST",
                    "dataType": "JSON"
                },
            "columns": [                      
                        { "data": "Request_Code" },
                        { "data": "RequestorName" },
                        {
                            "data": "RequestDate"
                            ,"render": function (data) { return convertToDate(data); }
                        },                       
                        { "data": "Name" },
                        { "data": "Type_of_Marriage" },
                        { "data": "Status" },
                        {
                            "data": "ID",
                            "mRender": function (data, type, full) {                           
                                return '<a href=/MarriageRecord/MarrigeRequestViewDetail/'+data+'>' + 'View Detail</a>';
                        }},
                ]
        });        
        //$('#checkboxQ').on("click", function (e) {
        //    console.log('click');
        //    oTable.fnDraw();
        //});
    });
</script>

