﻿@model NAS_ARR.Models.PriceRuleViewModel
@{
    ViewBag.Title = "AddNew";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Add New Product Details
        </h1>       
    </div>
    <div class="content-header clearfix">
        <div class="pull-left">
            <i class="fa fa-arrow-circle-left"></i>
            <a href="/ARR_Admin/ProductList/Index">back to listing</a>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-md-12">
                    @*<h4>General Information</h4>*@ 
                            @using (Ajax.BeginForm("SaveProductInfo", "ProductList", FormMethod.Post,
                            new AjaxOptions() { LoadingElementId = "myLoadingElement", OnComplete = "Unloading", OnFailure = "Unloading" },
                            new { id = "formAddProduct", @class = "form-horizontal", enctype = "multipart/form-data" }))                           
                           {
                                    @*@Html.Partial("ValidationSummary", ViewData.ModelState)*@
                                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                    @Html.AntiForgeryToken()

                                    <div class="form-group">
                                        <label for="ddlCategory" class="col-sm-2 control-label">Product Category :</label>
                                        <div class="col-sm-6">
                                            @Html.DropDownList("Category_Code", new SelectList(ViewBag.CategoryTemplte, "Code", "Description"), new { @class = "form-control-sm form-control" })
                                        </div>
                                     </div>


                                    <div class="form-group">
                                        <label for="txtRule_Name" class="col-sm-2 control-label">Product Name :</label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.Rule_Name, new { @class = "form-control", @required = true })                                          
                                        </div>
                                    </div>

                                    <div class="form-group">
                                            <label for="txtFormat" class="col-sm-2 control-label">Format :</label>
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(m => m.Format, new { @class = "form-control", @required = true })                                                
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="txtUOM" class="col-sm-2 control-label">Unit of Measure :</label>
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(m => m.UOM, new { @class = "form-control", @required = true })                                                
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="txtUnit_Per_Set" class="col-sm-2 control-label">Unit Per Set :</label>
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(m => m.Unit_Per_Set, new { @class = "form-control", @required = true })
                                              
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="txtUnit_Rate" class="col-sm-2 control-label">Unit Rate($) *:</label>
                                            <div class="col-sm-6">
                                                @{var formated = String.Format("{0:0.00}", Model.Unit_Rate);}
                                                @Html.TextBoxFor(m => m.Unit_Rate, formated, new { @class = "form-control", @required = true })                                                
                                            </div>
                                        </div>

                                        if (ViewBag.FullOrPatialTemplate != null)
                                        {
                                            <div id="divFullOrPatialTemplate" class="row form-group">
                                                <label for="rdoFullorPatial" class="col-sm-2 control-label"></label>
                                                <div class="col-12 col-md-8">
                                                    @foreach (SelectListItem itemdata in ViewBag.FullOrPatialTemplate)
                                                    {
                                                        @Html.RadioButton("FullOrPatial", @itemdata.Value, itemdata.Selected, new { id = @itemdata.Value })
                                                        @Html.Label(@itemdata.Text)
                                                    }
                                                </div>
                                            </div>
                                        }

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label"></label>
                                            <div class="col-sm-6">
                                                <input id="btnProductSaved" type="submit" value="Save" class="btn btn-primary btn-flat" />
                                                <a href="/ProductList/Index" class="btn  btn-default btn-flat">Cancel</a>
                                            </div>
                                        </div>
                              }
                     </div>                    
                <!-- nav-tabs-custom -->
            </div>
        </div>
</div>



<script>
    $('#Category_Code').change(function () {
        var ctype = $("#Category_Code").val();
        var x = document.getElementById("divFullOrPatialTemplate");        
        if (ctype == 'AV' || ctype == 'OH')
        {
          $('input').iCheck('uncheck');
          x.style.display = "block";
        }else
        {
            x.style.display = "none";       
            $('input').iCheck('uncheck');
        }
    });
</script>