﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Product Management
        </h1>
        @*<div class="pull-right">
            <a class="btn bg-blue" href="/ProductList/AddNewProductList">
                <i class="fa fa-plus-square"></i>
                Add new
            </a>         
        </div>*@
    </div>


    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <!--AdvanceSearch-->
                <div class="panel panel-default panel-search">
                    <div class="panel-body" style="padding-bottom:0px !important;padding-top:0px !important">
                        @*<div class="box box-solid collapsed-box" style="box-shadow:none;margin-bottom:0px">*@
                        <div class="box box-solid" style="box-shadow:none;margin-bottom:0px">
                            @*<div class="box-header ui-sortable-handle" data-widget="collapse">*@
                            <div class="box-header ui-sortable-handle">
                                <i class="fa fa-search"></i>
                                <h3 class="box-title">Search By</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body border-radius-none" style="">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <div gd class="label-wrapper">
                                                    <label class="control-label" for="txtStartDatepicker">Start Date</label>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input type="text" class="form-control date-input pull-right" id="txtStartDatepicker">
                                                </div>
                                                <!-- /.input group -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <div gd class="label-wrapper">
                                                    <label class="control-label" for="txtEndDatepicker">End Date</label>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input type="text" class="form-control date-input pull-right" id="txtEndDatepicker">
                                                </div>
                                                <!-- /.input group -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <div gd class="label-wrapper">
                                                    <label class="control-label" for="Category_Code">Category</label>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <select id="Category_Code" class="form-control select2" style="width:100%" multiple></select>                                               
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <div gd class="label-wrapper">
                                                    <label class="control-label" for="txtSearch">Keyword(s)</label>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <input class="form-control text-box single-line" id="txtSearch" name="txtSearch" value="" type="text">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-7 col-md-offset-5">
                                        <div class="pull-right">
                                            <input type="button" value="Search" id="btnSearch"  class="btn btn-primary btn-search" />
                                            @*<button type="button" id="btnSearch" class="btn btn-primary btn-search">
                                <i class="fa fa-search"></i>
                                Search
                            </button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Listing-->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="customers-grid" data-role="grid">
                            <table id="myTable" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Product ID</th>
                                        <th>Category</th>
                                        <th>Product Name</th>
                                        <th>Format</th>
                                        <th>Unit Rate</th>
                                        <th>Status</th>
                                        <th>Created By</th>
                                        <th>Created Date</th>
                                        <th style="display:none">Date</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#Category_Code").select2({            
            theme: "classic",
            ajax: {
                url: "/ProductList/SearchBindCategory",
                dataType: "json",
                data: function (params) {
                    return {
                        searchTerm: params.term
                    };
                },
                processResults: function (data, params) {
                    return {
                        results: data
                    };
                }
            }
        });

            //jQuery DataTables initialization
        $('#myTable').DataTable({
            "lengthMenu": [[100, 200, 300, -1], [100, 200, 300, "All"]],
                "responsive": true,
                "processing": true, // for show processing bar
                "serverSide": true, // for process on server side
                "orderMulti": false, // for disable multi column order
                "dom": '<"top"i>rt<"bottom"lp><"clear">', // for hide default global search box
                "ajax": {
                    "url": "/ProductList/ProductListing",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [                  
                  //{ "className": "custom-middle-align", "targets": [9] },
                  { "className": "hide_me", "targets": [8] }
                ],
                "columns": [
                     { "data": "ID" },
                     { "data": "Category_Code" },
                     { "data": "Rule_Name" },
                     { "data": "Format" },
                     { "data": "Unit_Rate" },
                     { "data": "Status" },
                     { "data": "CreatedByUserID" },
                     {
                         "data": "CreatedOnDate"
                         ,"render": function (data) { return convertToDate(data); }
                     },
                     {
                         "orderable": false,
                         "data": "CreatedOnDate"
                         ,"render": function (data) { return convertToDate(data); }
                     },
                     {
                         "orderable": false,
                         "data": "ID",
                         "mRender": function (data, type, full) {
                             return '<a href=/ProductList/ProductListViewDetail/' + data + '>' + '<i class="fa fa-pencil"></i></a>';
                         }},
                ]            
            });

            //Apply Custom search on jQuery DataTables here
            oTable = $('#myTable').DataTable();
            $('#btnSearch').click(function () {

                oTable.columns(1).search($('#Category_Code').val());
                oTable.columns(2,3,4).search($('#txtSearch').val().trim());
                
                oTable.columns(7).search($('#txtStartDatepicker').val().trim());
                oTable.columns(8).search($('#txtEndDatepicker').val().trim());
                
                //hit search on server
                oTable.draw();
            });
        });
</script>


