﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        //Language
        var apiLanguateDefault = '@Url.Content("~/Language/ViewLanguageList")';
        var apiLanguateItemDefault = '@Url.Content("~/Language/ViewLanguageItemList")';


        var apiProducPriceDefault = '@Url.Content("~/ProductList/Index")';
        var apiProducPriceViewDetail = '@Url.Content("~/ProductList/ProductListViewDetail/")';
        var apiProducPriceSave = '@Url.Content("~/ProductList/SaveProductInfo")';
        var apiProducPriceUpdate = '@Url.Content("~/ProductList/UpdateProductInfo")';
        var apiProducPriceDelete = '@Url.Content("~/ProductList/DeleteProductInfo/")';

        //Repordution Link
        var apiGetGenerateLink = '@Url.Content("~/ProductList/DeleteProductInfo/")';

        //Request Order
        var apiSearchBindOrderStatus = '@Url.Content("~/RequestOrder/SearchBindOrderStatus")';

        var apiRequestOrderItemListDetail = '@Url.Content("~//RequestOrder/RequestOrderListing")';


        var apiRequestOrderItemListAll = '@Url.Content("~/RequestOrder/RequestOrderItemList?")';


        var apidetails_openImage = '@Url.Content("~/Content/adminlte/img/details_open.png")';

    </script>
</head>
<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">        
        @{ Html.RenderPartial("_Toastr"); }

        @Html.Partial("_Header")

        @Html.Partial("_Sidebar")

        @RenderSection("featured", required: false)
        @RenderBody()

        @*@Html.Partial("_Footer")*@    
       
        <div class="control-sidebar-bg"></div>
    </div>
   @*@Scripts.Render("~/bundles/jquery")
   @RenderSection("scripts", required: false)*@
</body>
</html>

@*Loading*@
<div id="myLoadingElement" class="loading-backdrop" style="display:none"></div>
