﻿@{
    Layout = null;
    ViewBag.Title = "Error";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="NEC ">
    <!-- Bootstrap core CSS -->
    <link href="~/resources/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    @*<link href="~/resources/css/fonts.css" rel="stylesheet">*@
    @*<link href="~/resources/css/act-log.css?v=@ActivityLog.Utils.Constant.RELEASE_VERSION" rel="stylesheet">*@
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries --> 
    <!--[if lt IE 9]> 
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> 
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> 
    <![endif]-->
    <style>
        body {
            height: 100%;
        }
    </style>
</head>
<body>
    <div class="page-content-wrapper-inner container-fluid page-error">
        <div class="page-error-inner">
            <span class="error-icon"></span>
            <h1 class="error-title">@ViewBag.MessageTitle</h1>
            <div class="error-body-wrapper">
                <p class="error-body">
                    @ViewBag.MessageDetail
                </p>
                @if (@ViewBag.Flag == true)
                {
                    <p class="error-body">.Or, you can click @Html.ActionLink("here", "Index", new { controller = "Home" }) to get back to Home.</p>
                }
            </div>
        </div>
    </div>
</body>
</html>
