﻿@{
    ViewBag.Title = "LanguageView";
    Layout = "~/Views/Shared/_Layout.cshtml";  
}

<div class="content-wrapper">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Language
        </h1>    
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">    
                <!--Listing-->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="customers-grid" data-role="grid">
                            <table class="table table-striped table-bordered table-hover" id="TableId" cellspacing="0" align="center" width="100%">
                                <thead>
                                    <tr>
                                        <th>Language</th>
                                        <th>Created User</th>
                                        <th>Created Date</th>                                      
                                        <th>View Detail</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var oTable = $('#TableId').DataTable(
        {
            "lengthMenu": [[100, 200, 300, -1], [100, 200, 300, "All"]],            
            "order": [[0, "desc"]],
            "columnDefs": [
                { "width": "15%", "targets": [3] },                
                { orderable: false, targets: [1] }
            ],
            "language":
                {
                    "processing": "<div class='overlay custom-loader-background'><i class='fa fa-cog fa-spin custom-loader-color'></i></div>"
                },
            "processing": true,
            "serverSide": true,
            "ajax":
                {
                    "url": "/Language/LanguageView",
                    "type": "POST",
                    "dataType": "JSON"
                },
            "columns": [
                        { "data": "Name" },
                        { "data": "CreatedByUserName" },                        
                        {
                            "data": "CreatedOnDate"
                            ,"render": function (data) { return convertToDate(data); }
                        },                                            
                        {
                            "data": "ID",
                            "mRender": function (data, type, full) {
                                return '<a href=/Language/LanguageEditView/' + data + '>' + 'View Detail</a>';
                        }},
                ]
        });    
    });
</script>