﻿
@{
    ViewBag.Title = "MarriageRequestView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Language
        </h1>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <!--AdvanceSearch-->
                <div class="panel panel-default panel-search">
                    <div class="panel-body" style="padding-bottom:0px !important;padding-top:0px !important">                        
                        <div class="box box-solid" style="box-shadow:none;margin-bottom:0px">
                            <div class="box-header ui-sortable-handle">
                                <i class="fa fa-search"></i>
                                <h3 class="box-title">Search</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body border-radius-none" style="">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <div gd class="label-wrapper">
                                                    <label class="control-label" for="txtName">Name</label>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <input class="form-control text-box single-line" id="txtName" name="txtName" value="" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-md-offset-5">
                                        <div class="pull-right">
                                            <button type="button" id="search-customers" class="btn btn-primary btn-search">
                                                <i class="fa fa-search"></i>
                                                Search
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Listing-->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="customers-grid" data-role="grid">
                            <table class="table table-striped table-bordered table-hover"
                                   id="TableId"
                                   cellspacing="0"
                                   align="center"
                                   width="100%">
                                <thead>
                                    <tr>
                                        <th>Sr</th>
                                        <th>Request Number</th>
                                        <th>Name of Marriage Record</th>
                                        <th>From Date</th>
                                        <th>To Date</th>
                                        <th>Type of Marriage</th>
                                        <th>Purpose of Request</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

$(document).ready(function ()
{
    $('#TableId').DataTable(
    {
        "columnDefs": [
            { "width": "5%", "targets": [0] },
            { "className": "text-center custom-middle-align", "targets": [0, 1, 2, 3, 4, 5, 6,7] },
        ],
        "language":
            {
                "processing": "<div class='overlay custom-loader-background'><i class='fa fa-cog fa-spin custom-loader-color'></i></div>"
            },
        "processing": true,
        "serverSide": true,
        "ajax":
            {
                "url": "/RequestManagement/MarrigeRequestListing",
                "type": "POST",
                "dataType": "JSON"
            },
        "columns": [
                    { "data": "Sr" },
                    { "data": "OrderTrackNumber" },
                    { "data": "Quantity" },
                    { "data": "ProductName" },
                    { "data": "SpecialOffer" },
                    { "data": "UnitPrice" },
                    { "data": "UnitPriceDiscount" }
        ]
    });
});
</script>